# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VC++ - ignore list
Debug
Release
ipch
*.sdf
*.suo
*.opensdf

#IDL 
NestTrader_h.h
NestTrader_i.c

#logs
errorLog.txt

# ignore line ending conversions
* -crlf

# BackfillMan - Ignore ABBackFill, AHK Binaries
BackfillMan/ABBackFill/
AHK/
*.exe
*.ico

# OrderMan 
# ignore config except 1 as template
OrderMan/config/scrips/*
!OrderMan/config/scrips/SBIN.ini
# Will be generated through GUI later
#OrderMan/config/alerts.ini
# Ignore generated ini
OrderMan/config/save.ini

OrderMan/config/quotes.csv

